<div id="destroy-team-modal" class="modal">
  <div class="modal-content">
    <h4>Destroy group</h4>
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <butto id="btn-destroy-team" class="btn red">
      Destroy
    </button>
  </div>
</div>
