<div id="destroy-group-modal" class="modal">
  <div class="modal-content">
    <h4>Destroy group <span id="destroy-group-slug"></span></h4>
    <button id="btn-destroy-group" class="btn red" data-value="">
      Destroy
    </button>
  </div>
</div>
