<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Hello, you have a inviting to be a member of <span id="team-invite-slug"></span></h4>
    <p>Do you accept ou decnline it?</p>
    <div class="container">
      <button class="btn">Accept</button>
      <button class="btn red right">Decline</button>
    </div>
  </div>
</div>
