<div id="new-invite-modal" class="modal">
  <div class="modal-content">
    <h4>Hello, you have a inviting to be a member of <span id="team-invite-slug"></span></h4>
    <p>Do you accept ou decnline it?</p>
    <div class="container">
      <button id="accept-invite" class="btn" data-value="">Accept</button>
      <button id="decline-invite" class="btn red right" data-value="">Decline</button>
    </div>
  </div>
</div>
