<% invite = current_user.team_users.pending.last %>
<% if invite %>
  <span id="pending-invite"><%= invite.id %></span>
<% end %>

<div id="pending-invite-modal" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
